body {
    background-color: silver;
    font-family: sans-serif;
    margin: 20px;
    color: black;
}

.search-container {
    margin-bottom: 20px;
}

#searchInput {
    /* display: flex; */
    padding: 8px;
    margin-right: 10px;
}

#continentSelect {
    padding: 12px;
}

.country-card {
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 1px;
    display: flex;
    align-items: center;

}

.country-card img {
    width: 50px;
    margin-right: 10px;
}
#countryList{
    display: grid;
    grid-template-columns: repeat(auto-fill, minMax(300px, 1fr));
    justify-content: center;

}
